* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  color: #fff;
  padding: 45px;
  padding-left: 0;
}

ul {
color: #fff;
float: right;
margin-top: -90px;
}

ul li {
  float: left;
  padding: 20px;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  hover: darkmagenta;
}

header {
position: fixed;
}

footer{
  color: #fff;
  width: 85%;
  position: relative;
  bottom: 0;
  padding: 40px;
  font-size: 1em;
}

.footermove {
  position: relative;
}

.borderbox {
  border-style: solid;
  border-width: 15px;
  border-color: darkmagenta;
}

 .icon{
   padding-left: 15px;
 }

.container{
  width: 85vw;
  height: auto;
  margin: 0 auto;
}

.effect:hover {
  color: darkmagenta;
}

 #interactive {
   width: 100vw;
   height:100vh;
   position: fixed;
   z-index: -999;
 }

#logo {
  width=50px
  margin: 100px;
}
 #about {
   padding-right 0;
 }

 /* ABOUT PAGE STYLES */
 .twocolumns {
   width: 100%;
 }

 #me {
   width: 48%;
   float: left;
 }

 #bio {
   width: 48%;
   color: #fff;
   float: right;
 }

 button {
   width: 300px;
   padding: 15px;
   background-color: transparent;
   border: solid #fff 2px;
   color: #fff;
   border-radius: 10px;
   font-size: 1em;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
 }

 button:hover {
   background-color: #fff;
   color:#0f0b30;
   transition: 0.5s;
   cursor: pointer;
 }

/* ARTWORK PAGE STYLES */
 h4 {
   text-align: left;
   color: #fff;
     width:75%;
     margin-top:30px;
 }

 .description {
   width:75%;
   color: #fff;
   padding:30px;
   text-align: left;
 }
