* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  color: #fff;
  padding: 45px;
  padding-left: 0;
}

ul {
color: #fff;
float: right;
margin-top: -90px;
}

ul li {
  float: left;
  padding: 20px;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  hover: darkmagenta;
}

header {
position: fixed;
}

footer{
  color: #fff;
  width: 80%;
  position: relative;
  bottom: 0;
  padding: 40px;
  font-size: 1em;
}

.footermove {
  position: relative;
}

.borderbox {
  border-style: solid;
  border-width: 15px;
  border-color: darkmagenta;
}

 .icon{
   padding-left: 15px;
 }

.container{
  width: 85vw;
  height: auto;
  margin: 0 auto;
}

.effect:hover {
  color: darkmagenta;
}

 #interactive {
   width: 100vw;
   height:100vh;
   position: fixed;
   z-index: -999;
 }

#logo {
  width=50px
  margin: 100px;
}
 #about {
   padding-right 0;
 }

 /* ABOUT PAGE STYLES */
 .twocolumns {
   width: 80%;
 }

 #me {
   width: 48%;
   float: left;
 }

 #bio {
   width: 48%;
   color: #fff;
   float: right;
   font-size: 1.5em;
 }

 button {
   width: 300px;
   padding: 15px;
   background-color: transparent;
   border: solid #fff 2px;
   color: #fff;
   border-radius: 10px;
   font-size: 1em;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
 }

 button:hover {
   background-color: #fff;
   color:#0f0b30;
   transition: 0.5s;
   cursor: pointer;
 }

 /* PORTFOLIO PAGE STYLES */

 .imagegroup {
   width:32%;
   color: #fff;
   display: inline-block;
   padding-bottom: 30px;
   text-align: center;
   font-style: italic;
   position: relative;
 }

 .imagegroup img {
   display: block;
   padding-bottom: 8px;
 }

 .selected {
   font-weight: bold;
   font-style: normal;
 }

 .overlay {
   color: #fff;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: 0.5s ease;
 }

 .imagegroup:hover .overlay {
   opacity: 100%;
 }

 .text {
   color: white;
   position: absolute;
   background-color: #333;
   padding:5px;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }

 .container1 {
   position: relative;
   max-width: 50%; /* Maximum width */
   margin: 0 auto; /* Center it */
 }

 .container1 .content {
   position: absolute; /* Position the background text */
   bottom: 0; /* At the bottom. Use top:0 to append it to the top */
   background: rgb(0, 0, 0); /* Fallback color */
   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
   color: #f1f1f1; /* Grey text */
   width: 100%; /* Full width */
   padding: 10px; /* Some padding */
 }

 .container2 {
   position: relative;
   max-width: 29%; /* Maximum width */
   margin: 0 auto; /* Center it */
   float:left;
 }

 .container2 .content2 {
   position: absolute; /* Position the background text */
   bottom: 0; /* At the bottom. Use top:0 to append it to the top */
   background: rgb(0, 0, 0); /* Fallback color */
   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
   color: #f1f1f1; /* Grey text */
   width: 100%; /* Full width */
   padding: 10px; /* Some padding */
 }

/* ARTWORK PAGE STYLES */

h2 {
  color: #fff;
  margin-bottom: 30px;
}

 h4 {
   text-align: left;
   color: #fff;
     width:75%;
     margin-top:30px;
 }

 .description {
   width:75%;
   color: #fff;
   padding:30px;
   text-align: left;
 }

 .arrow {
   margin-bottom: 500px;
 }
